body {
    background: #000; /* Black background */
    color: #fff;
    font-family: monospace;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.form-box {
    width: 320px;
    background: rgba(0,0,0,0.7);
    padding: 20px;
    margin: auto;
    border: 4px solid #3a3a3a;
    box-shadow: 5px 5px #000;
}

.form-box input,
.form-box select,
.form-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #c6a667;
    border: 3px solid #2b2b2b;
}

.board {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 230px;
    background: #2c2c2c;
    padding: 15px;
    margin: 10px;
    border: 4px solid #111;
    box-shadow: 4px 4px #000;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 2px solid #000;
}

.card button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #009900;
    border: 2px solid #000;
    cursor: pointer;
}
