body {
    font-family: Arial;
    background: #0d1117;
    color: white;
    text-align: center;
    padding: 30px;
}

.form-box {
    background: #161b22;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background: #238636;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item {
    background: #21262d;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
